@model ToDoWebApp.Models.Todo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.Title</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label" hidden></label>
                <input asp-for="User" class="form-control" value="@User.Identity.Name" required hidden />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" required />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br /><p>Priority: </p>
                @*<input type="radio" name="priority" value="High" required style="float:left; margin-right:10px" /><p>High</p>
            <input type="radio" name="priority" value="Medium" style="float:left; margin-right:10px" /><p>Medium</p>
            <input type="radio" name="priority" value="Low" style="float:left; margin-right:10px" /><p>Low</p>*@
                @Html.RadioButtonFor(model => model.Priority, "High", new { @checked = true }) High
                @Html.RadioButtonFor(model => model.Priority, "Medium", new { @checked = true }) Medium
                @Html.RadioButtonFor(model => model.Priority, "Low", new { @checked = true }) Low
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <form action="/Home">
        <input type="submit" value="Back to Home" class="btn btn-primary" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
