@model IEnumerable<ToDoWebApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/Site.css")" type="text/css" />
</head>

<h1>To Do 1 Web Application</h1>

@if (User.Identity.IsAuthenticated)
{
    <div style="padding-left:50%">
        <form action="/Home" method="post" style="align-content:center">
            <p>Select date to show To-Dos</p>
            <input type="date" name="date" value="@DateTime.Now" placeholder="@DateTime.Today" />
            <input type="submit" name="submit" value="Show" class="btn btn-primary" />
        </form>
    </div>


    <div class="flex-container">
        <div class="section">
            <form action="/Home/Create" class="create-btn">
                <input type="submit" value="Create New To Do" class="btn btn-success" />
            </form>
            <form action="/Home" method="post" class="sort-filter-section">
                <div>
                    <br /><p>Select priority: </p>

                    <input type="radio" name="priority" value="High" style="float:left;margin-right:10px" /><p>High</p>
                    <input type="radio" name="priority" value="Medium" style="float:left;margin-right:10px" /><p>Medium</p>
                    <input type="radio" name="priority" value="Low" style="float:left;margin-right:10px" /><p>Low</p>

                    <input type="submit" name="submit" value="Sort" class="btn btn-primary" /> |
                    <input type="submit" name="submit" value="Filter" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="table-section">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="hide-in-mobile">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th class="hide-in-mobile">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Priority)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.Count() == 0)
                    {
                        <h5 style="color:red">There is no TO DO to display</h5>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td class="hide-in-mobile">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="hide-in-mobile">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Home", new { id = item.Id })" class="btn btn-warning" role="button">Edit</a> |
                                    <a href="@Url.Action("Delete", "Home", new { id = item.Id })" class="btn btn-danger" role="button">Done</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="text-center">

        <p> You have to <a href="~/Identity/Account/Login">LOG IN</a> to see your To Dos.</p>
        <p> If you don't have an account, <a href="~/Identity/Account/Register">Register</a> your self.</p>
    </div>
}






